@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    /* Cores */
    --preto: #141115;
    --vermelho: #d33d51;
    --vermelho-escuro: #b63345;
    --laranja: #F7934C;
    --laranja-escuro: #df8545;
    --amarelo: #f0ec57;
    --amarelo-escuro: #ddd84f;
    --verde: #2E933C;
    --verde-escuro: #278033;
    --azul: #4A5899;
    --azul-escuro: #3b477a;
    --branco: #f1f1f1;
    --sombra: rgba(0, 0, 0, 0.5);

    --cor-padrao: var(--vermelho); 
    --cor-padrao-escura: var(--vermelho-escuro);
    --cor-fundo: var(--preto);

    /* Fontes */
    --fonte-suave: 'Cabin', sans-serif;
    --fonte-titulos: 'Bebas Neue', cursive;
    --fonte-ubuntu: 'Ubuntu', sans-serif;

    /* Tamanhos */
    --full-size: 1000px;
}

body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--preto);
    color: var(--preto);
}


/* ------------------- HEADER ------------------- */
header{
    background-color: var(--cor-padrao);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: var(--fonte-suave);
    text-shadow: 2px 2px 3px var(--sombra);
}

.titles h1{
    font-size: 4.5em;
}

.titles p{
    font-size: 1.5em;
    color: var(--branco);
    text-transform: lowercase;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    justify-self: center;
    width: 1000px;
    font-family: var(--fonte-titulos);
    font-size: 2em;
}

.menu li{
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    padding: 10px 30px 5px;
    text-shadow: 1px 1px 2px var(--sombra);
}

.menu a{
    text-decoration: none;
}

.menu li:hover{
    background-color: var(--cor-padrao-escura);
    border-radius: 20px 20px 0 0;
    transition: 0.5s background-color;
}

.menu li:active{
    color: var(--branco);
    transition: none;
}

/* ------------------- MAIN ------------------- */
main {
    background-color: var(--branco);
    font-family: var(--fonte-ubuntu);
    width: var(--full-size);
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

h2{
    align-self: center;
    margin: 20px;
    font-size: 3em;
    color: var(--cor-padrao);
    font-weight: bolder;
    text-shadow: 2px 2px 1px var(--preto);
}

main .intro {
    display: flex;
}

.pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures .profile{
    width: 200px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px var(--sombra);
}

.icons {
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    margin: 20px;
}

.icon{
    width: 50px;
}

.intro .text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.5em;
}

strong{
    font-weight: bold;
}

.destaque{
    font-weight: bolder;
    color: var(--cor-padrao)
}

.more-info{
    display: flex;
    flex-direction: column;
    height: 350px;
}

.more-info h3{
    align-self: center;
    margin: 70px 0 30px 0;
    font-size: 2em;
    font-weight: bold;
    font-family: var(--fonte-titulos);
    color: var(--cor-padrao)
}

.more-info .text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.5em;
    height: 200px;
}

.more-info p:before{
    content: '\27A4  ';
    color: var(--cor-padrao)
}

.more-info strong, .more-info a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor-padrao);
    text-shadow: 0.5px 0.5px 1px var(--sombra);
}

footer{
    background-color: var(--cor-padrao);
    width: var(--full-size);
    padding: 10px 20px;
    border-radius: 0 0 30px 30px;
    color: var(--branco);
    text-align: center;
    font-family: var(--fonte-suave);
}